@model List<Category>

<div class="card shadow">
	<div class="card-header bg-primary bg-gradient">
		<div class="row">
			<h2 class="text-white text-center">Category List</h2>
		</div>
	</div>
	<div class="card-body p-0">
		<table class="table table-bordered table-striped m-0">
			<thead>
				<tr>
					<th>
						Category Name
					</th>
					<th>
						Display Order
					</th>
					<th class="text-end col-3">
						<a asp-controller="Category" asp-action="Create" class="btn btn-success" style="width:265px">
							<i class="bi bi-plus-square"></i> Create New Category
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var obj in Model.OrderBy(o => o.Name))
				{
					<tr>
						<td>@obj.Name</td>
						<td>@obj.DisplayOrder</td>
						<td class="text-end">
							<a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning" style="width:130px"><i class="bi bi-pencil-square"></i> Edit</a>
							<a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger" style="width:130px"><i class="bi bi-trash-fill"></i> Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@* <table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th class="col-4">
				Category Name
			</th>
			<th class="col-4">
				Display Order
			</th>
			<th class="col-4">
				<a asp-controller="Category" asp-action="Create" class="btn btn-success">
					<i class="bi bi-plus-square"></i> Create New Category
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model.OrderBy(o => o.Name))
		{
			<tr>
				<td>@obj.Name</td>
				<td>@obj.DisplayOrder</td>
				<td>
					<a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
					<a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete</a>
				</td>
			</tr>
		}
		
	</tbody>
</table> *@